@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "rubik", Arial, Helvetica, sans-serif;
}

.oswald{

    font-family: "oswald", monospace;
}

.container{
    max-width: 1400px;
    padding: 0% , auto;
    margin: 0 , auto;
}